asgiref==3.8.1
distlib==0.3.8
Django==5.0.6
django-mssql-backend==2.8.1
filelock==3.14.0
mysql-connector-python==8.0.33
platformdirs==4.2.1
pyodbc==5.1.0
sqlparse==0.5.0
tzdata==2024.1
virtualenv==20.26.1
gunicorn
